/* app.css */

.svg-icon {
    > .svg-icon-item {
        vertical-align: text-bottom;
    }
}

/*flex layout*/
.flex-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-container > * {
    width: 100%;
}

@media (min-width: 35rem) {
    .flex-container > * {
        width: 100%;
    }
    .flex-container > * {
        width: calc((100% - 2rem) / 3);
    }
}

.divider {
    background-image: url(../images/divider-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 250px;
}

@media (max-width: 40rem) {
    .divider {
        .text-reverse{
            font-size: 1em;
        }
        
        .slogan {
            font-size: 2em;
        }
    }

    .services {
        .text-start {
            margin-bottom: 2.5rem;
        }
    }
}

.text-right {
    text-align: right;
}

.text-reverse {
    color: var(--secondary-text-color);
}

/* padding y*/
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.p-5 {
    padding-bottom: 5rem;
}

.py-7 {
    padding-top: 7.5em;
    padding-bottom: 7.5em;
}

/*padding x*/

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}

/*margin bottom*/
.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mr-5 {
    margin-right: 3rem;
}

.mt-5 {
    margin-top: 3rem;
}

.d-inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.fs-2 {
    font-size: 1.2rem;
}

.btn {
    background-color: var(--anchor-active-color);
    border: 1px solid hsl(0, 0%, 70%);
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1em;
    border-radius: 0.4em;
}

.btn:hover, .btn:focus {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 hsl(0, 0%, 50%);
    color: #277647;
    font-weight: 500;
    border: 1px solid hsl(0, 0%, 50%);
}

.btn-primary {
    background-color: var(--anchor-color);
    color: var(--secondary-text-color);
}

.btn-primary:hover {
    background-color: var(--secondary-text-color);
    color: var(--anchor-color);
}

.emphasis {
    color: var(--anchor-active-color);
}