/* app.css */

/* Lecture 4 */
/*.named {
    color: aliceblue;
    background-color: indianred;
    font-size: 1.5rem;
}

.rgb {
    color:rgb(200, 100, 0);
    font-size: 0.5rem;
}

.rgb span {
    font-size: 3em;
}

.hex {
    color: #ffff00;
    font-size: 5ex;
}

.transp {
   color: rgb(0 0 255 / 0.5);
   font-size: 4.5ch;
}

.hsl {
    color: hsl(9deg, 100%, 50%);
    font-size: 14vh;
}

.nesting {
    color: hotpink;
    > .is {
        color: rebeccapurple;
        > .awesome {
        color: deeppink;
        }
    }
}
*/

.svg-icon {
    > .svg-icon-item {
        vertical-align: text-bottom;
    }
}

.divider {
    background-image: url(../images/divider-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.text-right {
    text-align: right;
}

.gradient {
    font-size: 2vw;
    font-weight: 700;
    background: linear-gradient(to right,
        rgb(25, 76, 192), 
        rgb(196, 26, 3) 20%, 
        rgb(236, 190, 6) 40%, 
        rgb(25, 76, 192) 60%, 
        rgb(3, 116, 8) 80%, 
        rgb(196, 26, 3));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}