.breadcrumb-bg-light {
    background-color: var(--primary-text-color);
}

.breadcrumb-container {
    --breadcrumb-divider: '/';
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    & .breadcrumb-title {
        color: var(--secondary-text-color);
        font-size: 1.1rem;
    }
    
    & .breadcrumb {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        font-size: 1rem;
        justify-content: flex-end;

        & .breadcrumb-item {
            color: var(--breadcrumb-color);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }

        & .breadcrumb-item.active {
            color: var(--quaternary-text-color);
        }

        & .breadcrumb-item a:hover {
            color: var(--tertiary-text-color);
        }

        & .breadcrumb-item+.breadcrumb-item {
            padding-left: 0.5rem;
        }

        & .breadcrumb-item+.breadcrumb-item::before {
            float: left;
            padding-right: 0.5rem;
            content: var(--breadcrumb-divider);
        }
    }
}