/* common.css */

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --anchor-color: #851773;
  --anchor-active-color: #277647;
  --currency-symbol: "\20B4";
  --primary-text-color: #2f2f2f;
  --secondary-text-color: #f4f4f4;
  --primary-bg-color: #fff;
  --primary-font-family: "Poppins", sans-serif;
  --primary-font-size: 0.875rem;
}

body {
  color: var(--primary-text-color);
  background: var(--primary-bg-color);

  font-size: clamp(.85rem, 1.2rem, 1rem);
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h2 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

h3 {
  font-size: clamp(1.2rem, 1.5vw, 1.3rem);
}

a {
  color: white;
  text-decoration: none;
}