/* footer.css */

.page-footer {
    --footer-ancor-color: #f8d3d3;
    --footer-a-font-size: 1rem;

    & .footer-main { 
        background: var(--anchor-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 4rem 2rem;

        & .footer-main-item {
            > ul > li {
                margin-bottom: 0.5rem;
                list-style: none;
            }
            > ul > li > a {
                color: var(--secondary-text-color);
                font-size: var(--footer-a-font-size);
                font-weight: 300;
            }
            > ul > li > a:hover {
                color: var(--primary-text-color);
                text-decoration: underline;
            }
            > .footer-title {
                margin-bottom: 0.5rem;
                font-size: 1.3rem;
                text-align: center;
                color: var(--secondary-text-color);
            }
        }
    }

    & .footer-legal {
        background: var(--primary-text-color);
        padding: 0.5rem 2rem;
    
        > ul.footer-legal-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > li {
                white-space: nowrap;
                list-style: none;
            }

            > li > a {
                margin-top: 0.5rem;
                margin-right: 2rem;
                color: var(--secondary-text-color);
                font-size: var(--footer-a-font-size);
                font-weight: 200;
            }

            > li > a:active {
                color: var(--anchor-color);
            }
            
            > li:nth-last-child(2) {
                flex: 1;
            }
       }
    }
}

@media (max-width: 40rem) {
    .page-footer {
        .footer-main {
            padding-left: 0.5rem;
            .footer-main-item {
                ul > li > a{
                font-size: 0.8rem;
                }
                .footer-title {
                    font-size: 1rem;
                }
            }
        }
        .footer-legal {
            padding-left: 0.5rem;
            ul.footer-legal-list {
                li > a {
                    font-size: 0.8rem;
                }
            }
        }
    }
}