/* footer.css */

footer {
    color: #fff;
    background: #000;
}

.footer-legal {
    background: rgb(88, 88, 88);
    > ul > li {
    list-style: none;
    }
}

.footer-legal > ul > li > a {
    color: var(--anchor-active-color);
}