body {
    font-family: 'Roboto', sans-serif;
}

/* Завдання 3 */
div {
    font-size: 1em;
}

div > span > span {
    font-size: 1.6em;
}

/* Завдання 4 */
strong {
    font-size: 1.6em;
}

/* Завдання 5 */

ul {
    list-style-type: square;
}